.default-header {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 2px;
    padding: 1px;
}

.header-heading {
    font-size: 18px;
    font-weight: bold;
}

.college-name {
    font-size: 18px;
    font-weight: bold;
}

.dept {
    font-size: 16px;
    font-weight: bold;
}

.left-side {
    text-align: left;
    margin-left: 10px;
}

.center {
    text-align: center;
}

.image {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 120px;
    height: 120px;
}